<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543686872914-14e49fsimg2m33ca916dbe84nf5qbv7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543686872914-14e49fsimg2m33ca916dbe84nf5qbv7g</string>
	<key>API_KEY</key>
	<string>AIzaSyA9wElyWKhHimV2Rm_mw3CssRSXhX0HaVo</string>
	<key>GCM_SENDER_ID</key>
	<string>543686872914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kalorientracker</string>
	<key>PROJECT_ID</key>
	<string>kalorien-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>kalorien-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543686872914:ios:aa2f14880bed1a77f3348b</string>
	<key>DATABASE_URL</key>
	<string>https://kalorien-tracker-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>